* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: large;
  border: none;
}
body{
    background-color: bisque;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
    background-image: linear-gradient(bisque, rgb(253, 176, 148));
    border-radius: 20px;
    box-shadow: 0 0 50px rgb(235, 9, 9);
text-shadow: 0 0 50px rgb(185, 4, 4);
}
main {
  min-width: 980px;
  
}
aside {
  float: left;
  width: 30%;
  line-height: 2rem;
  padding: 2rem;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: bisque;
  margin: 1%;
  text-align: center;
  background-image: linear-gradient(bisque, rgb(253, 176, 148), brown);
  box-shadow: 5px 5px brown;
}
section {
  float: right;
  width: 65%;
  line-height: 2rem;
  padding: 2rem;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: bisque;
  margin: 1%;
  overflow: auto;
  box-shadow: 5px 5px brown;
  min-width: 640px;
  background-image: linear-gradient(bisque, rgb(253, 176, 148));
}
.box {
  background-color: rgb(253, 176, 148);
  border-radius: 10px;
  overflow: auto;
  box-shadow: 5px 5px brown;
}
.inputs, textarea {
  width: 90%;
  padding: 0.5rem;
  border-radius: 10px;
  resize: none;
  
}

.avatar-box {
  display: inline-block;
}
.avatars {
  width: 5rem;
  opacity: 0.5;
  transition: 0.6s;
}
.avatars:hover{
  opacity: 1;
  transition: 0.6s;
}
#ad-av{
  margin-bottom: 1rem;
  background-image: linear-gradient(bisque, rgb(253, 176, 148), brown);
}
#p-avatar {
  width: 5rem;

  float: left;
  margin: 1rem;
}
#p-fullname {
  font-size: 2vw;
  float: left;
  margin: 2rem 1rem;

  font-family: "Alfa Slab One", cursive;
  width: 40%;
}
#p-age {
  float: right;
  margin: 2rem 1rem;
  text-indent: 2rem;
  font-family: "Alfa Slab One", cursive;
  font-size: 1.5vw;
  width: 25%;
  text-align: right;
}

#p-info {
  white-space: pre-wrap;
  text-indent: 2rem;
  padding: 1rem;
  font-size: 2vw;
  font-family: "Caveat", cursive;
  background-image: linear-gradient(bisque, rgb(253, 176, 148), brown);
}
button {
  display: block;
  margin: 2rem auto;
  padding: 10px 35px;
  border-radius: 15px;
  border: none;
  background-color:chocolate;
  color: aliceblue;
  box-shadow: 5px 5px brown;
  
  transition: 0.6s;
}
#button-box{
  width: 140px;
  margin: auto;
}
button:hover{
    background-color: bisque;
    cursor: pointer;
    color: brown;
    position: static;
}
button:focus{
    position: relative;
    top:5px;
    left:5px;
    box-shadow: none;
}

.balon{
  position: absolute;
  box-shadow: 0 0 50px #ccc;
}
#balon-container{
  position: relative;
  float: right;
}
#balon1{
width: 2rem;
height: 1.5rem;
border-radius: 50%;
background-color: aliceblue;
top:-80px;
font-size: 0rem;
}
#balon2{
width: 4rem;
height: 3rem;
border-radius: 50%;
background-color: aliceblue;
top: -120px;
left: 4vw;
font-size: 3rem;
}
#balon3{
width: 6rem;
height: 4rem;
border-radius: 50%;
background-color: aliceblue;
top: -220px;
left: 8vw;
font-size: 4rem;
}
